# Environment variables & API keys
.env
*.env

# SQLite Database
*.db
*.sqlite3

# Uploaded Files
uploads/*
!uploads/.gitkeep

# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
